# Virtual env
.venv/
llama-suite-venv/

# Generated configs & outputs
/configs/generated/
/runs/
/var/

# Local data & models (if desired)
models
/vendor/*
/vendor/llama.cpp/bin/*.exe
/vendor/llama-swap/llama-swap.exe

# OS noise
Thumbs.db
.DS_Store

__pycache__
opencode.json